@model Web.HealthFoot.Models.DIRECCION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DIRECCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLONIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLONIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
