@model List<Web.HealthFoot.Models.PRODUCTO>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section botones{
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Agregar", "Create", "Productos", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h2>Productos</h2>
    </div>
    <div class="col-md-12">
        <table class="table datatable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ID </td>
                        <td>@product.NOMBRE</td>
                        <td>@product.DESCRIPCION</td>
                        <td>@product.CATEGORIA.NOMBRE</td>
                        <td>@product.PRECIO</td>
                        <td style="font-size: 18px">
                            <a href="@Url.Action("Details","Productos", new {id = product.ID})"><i class="fas fa-eye"></i></a>
                            <a href="@Url.Action("Edit","Productos", new { id = product.ID})"> <i class="fas fa-edit"></i></a>
                            @if (product.ACTIVO == 1)
                            {
                                <a class="fas fa-toggle-on" href="@Url.Action("Desactive", "Productos")" style="color:green"></a>

                            }
                            else
                            {
                                <a class="fas fa-toggle-off" href="@Url.Action("Desactive", "Productos")"  style="color:red"></a>
                            }

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>