<!DOCTYPE html>
<html lang="es">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealtFoot - @ViewBag.Title</title>
    <!-- PLUGINS CSS STYLE -->
    @Styles.Render("~/Content/webcss")
    @Styles.Render("~/Content/font")
    @RenderSection("estilos", required: false)


</head>
<!--Campo Url AddCart-->
<input type="hidden" id="inp-url-add-cart" value="@Url.Action("AddCart", "Cart")" />
<body class="body-wrapper version2">

    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="preloader_container">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
    </div>

    <div class="main-wrapper">

        <!-- HEADER -->
        <div class="header clearfix headerV2">

            <!-- NAVBAR -->
            <nav class="navbar navbar-main navbar-expand-md navbar-default nav-V2" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <a class="navbar-brand h-100" href="index-2.html">
                        <img src="~/Content/Images/logo.jpg" class="h-100" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active ">
                                @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link", @role = "button" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Nosotros", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link", @role = "button" })
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Productos", "Product", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link", @role = "button" })
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @User.Identity.Name
                                    </a>

                                    <div class="dropdown-menu rounded" aria-labelledby="dropdownMenuLink">
                                        @Html.ActionLink("Perfil", "Profile", "Home", routeValues: null, htmlAttributes: new { @class = "dropdown-item", @role = "button" })
                                        @Html.ActionLink("Direcciones", "Index", "Direccion", routeValues: null, htmlAttributes: new { @class = "dropdown-item", @role = "button" })
                                        @Html.ActionLink("Cerrar Sesión", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "dropdown-item", @role = "button" })

                                    </div>

                                </li>
                            }
                            else
                            {

                                <li class="nav-item">
                                    @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link", @role = "button" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link", @role = "button" })
                                </li>
                            }

                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Cart")" class="nav-link">Carro <i class="fa fa-shopping-cart"></i></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <!-- BANNER -->
        @RenderSection("banner", required: false)

        <!-- MAIN CONTENT SECTION -->
        <div>
            @RenderBody()
        </div>

        <!-- FOOTER -->
        <div class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Atención a clientes</h5></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Preguntas frecuentes</h5></a>

                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <h5>Contacto</h5>
                            <ul class="list-unstyled">
                                <li>Llámanos al teléfono (555)-555-5555</li>
                                <li><a href="mailto:support@iamabdus.com">contacto@healtfoot.com</a></li>
                            </ul>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Política de Privacidad</h5></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="footerLink">
                            <a href="#"><h5>Términos y Condiciones</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COPY RIGHT -->
            <div class="copyRight clearfix">

                <div class="row m-0">
                    <div class="col-md-7 col-12">
                        <p>&copy; 2019 HEALT FOOT.</p>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/webjs")
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        @Scripts.Render("~/Content/Cart/AddCart.js")
        @RenderSection("scripts", required: false)

    </div>
</body>

</html>

